<h2 mat-dialog-title>Create Account</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="email" placeholder="Email Address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="username" placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="password" placeholder="Password" type="password">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="passwordConfirm" placeholder="Confirm Password" type="password">
  </mat-form-field>
</mat-dialog-content>
<mat-card *ngIf="message">
  <div class='message'>{{message}}</div>
</mat-card>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="submitSignupForm()">Create Account</button>
</mat-dialog-actions>
