<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<mat-card *ngIf="loggedIn && hasActiveProfile == false"><h3>You must have an active profile to be able to use this feature.  Please create or edit your profile.</h3></mat-card>
<mat-card *ngIf="loggedIn && hasActiveProfile">
  <mat-card-title>Search</mat-card-title>
  Near:&nbsp;&nbsp;
  <mat-radio-group [(ngModel)]="nearRadioValue">
    <mat-radio-button value="me">Me</mat-radio-button>&nbsp;
    <mat-radio-button value="location"></mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="nearLocation" placeholder="Enter location...">
  </mat-form-field>
  <br>
  <mat-form-field class="distance">
    <mat-label>Distance</mat-label>
    <input matInput [(ngModel)]="distance" [matAutocomplete]="distanceauto" placeholder="Enter Distance...">
  </mat-form-field>
  <mat-autocomplete #distanceauto="matAutocomplete">
    <mat-option [value]="5">5</mat-option>
    <mat-option [value]="10">10</mat-option>
    <mat-option [value]="25">25</mat-option>
    <mat-option [value]="50">50</mat-option>
    <mat-option [value]="100">100</mat-option>
  </mat-autocomplete>
  &nbsp;
  <mat-form-field class="distance-unit">
    <mat-label>Unit</mat-label>
    <mat-select [(value)]="distanceUnit" class='unit-select'>
      <mat-option value="Miles">Miles</mat-option>
      <mat-option value="KM">KM</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Additional search options here in expandable pane-->
  <mat-card *ngIf="message">
    <div class='message'>{{message}}</div>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="performSearch()"><mat-icon>search</mat-icon> Search</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card *ngIf="searchResults">
  <mat-card-title>Found {{searchResults.length}} users.</mat-card-title>
  <app-profile-view *ngFor="let profile of pagedResults" [profile]="profile"></app-profile-view>
  <mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    [length]="searchResults.length"
    [pageIndex]="currentPage"
    (page)="pageEvent = handlePage($event)">
  </mat-paginator>
</mat-card>
