<div class="signup-dialog">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>Create Account
  </mat-toolbar>
  <mat-form-field appearance="outline">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="Email Address" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" [formControl]="username" required>
    <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" [formControl]="password" type="password" required>
    <mat-hint>{{passwordRequirements}}</mat-hint>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput placeholder="Confirm Password" [formControl]="passwordConfirm" type="password" required>
    <mat-error *ngIf="passwordConfirm.invalid">{{getPasswordConfirmErrorMessage()}}</mat-error>
  </mat-form-field>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
    <button class="mat-raised-button mat-primary" (click)="submitSignupForm()">Create Account</button>
  </div>
</div>
