.request-dialog{
  display: flex;
  flex-direction: column;
}

mat-form-field{
  width: 100%;
  margin-bottom: -1.25em;
}

.message{
  color: red;
  font-size: 75%;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.button-area{
  align-self: flex-end;
}

/deep/ .mat-dialog-container {
  padding: 5px !important;
}
