<div class="change-password-dialog">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>Update Password
  </mat-toolbar>
  <mat-form-field appearance="outline">
    <mat-label>Old Password</mat-label>
    <input matInput placeholder="Old Password" [formControl]="oldPassword" type="password" required>
    <mat-error *ngIf="oldPassword.invalid">{{getOldPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="New Password" [formControl]="newPassword" type="password" required>
    <mat-hint>{{passwordRequirements}}</mat-hint>
    <mat-error *ngIf="newPassword.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm New Password</mat-label>
    <input matInput placeholder="Confirm New Password" [formControl]="newPasswordConfirm" type="password" required>
    <mat-error *ngIf="newPasswordConfirm.invalid">{{getNewPasswordConfirmErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
    <button class="mat-raised-button mat-primary" [disabled]="oldPassword.invalid||newPassword.invalid||newPasswordConfirm.invalid" (click)="submitPasswordChange()">Change Password</button>
  </div>
</div>
