<mat-card>
  <mat-card-title>Frequently Asked Questions</mat-card-title>
  <div class="q-and-a">
    <div class="question"><h3>1. What is <span class="site-name">VeganHomies.com</span>?</h3></div>
    <div class="answer">
      <span class="site-name">VeganHomies.com</span> is a free web application designed to help vegans <h2 class="keyword">find vegan friends</h2> in real life. It's easy to get started. Just sign up, log in, fill out your profile and search for other users in your area.  After performing a location based search, you can send a Homie Request to any user who you'd like to connecting with.  If the other user accepts, they become one of your Vegan Homies. You can then exchange messages on the site with each other and start to form a real friendship. It's just that simple to <h2 class="keyword">make vegan friends</h2>.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>2. Who is this site for?</h3></div>
    <div class="answer">
      This site is for people who are currently practicing veganism as defined by <a href="https://www.vegansociety.com/go-vegan/definition-veganism">The Vegan Society</a> as <span class="veganism-definition">"Veganism is a way of living which seeks to exclude, as far as is possible and practicable, all forms of exploitation of, and cruelty to, animals for food, clothing or any other purpose."</span>  It is not for those who eat plant-based diets soley for health purposes, those who are "vegan-ish" or those who are aspiring to be vegan.  If you are not yet vegan, but trying to make the transition and need help, please feel free to contact me at <a href="mailto:geoff@veganhomies.com">geoff@veganhomies.com</a>. I'll be happy to provide you with any assistance possible.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>3. Is it a vegan dating site?</h3></div>
    <div class="answer">
      While <span class=site-name>VeganHomies.com</span> is not specifically a <h2 class="keyword">vegan dating site</h2>, it is certainly possible to meet that special someone on it.  If you are <span class="italic">single and ready to mingle</span> with other <h2 class="keyword">local vegans</h2>, mention it in the <span class="bold">About Me</span> and <span class="bold">Looking To Meet</span> sections of your profile.  If you are looking for love (or some lovin') on this site, please don't be creepy about it.  If you send unwanted and gross messages to other users, you will get banned from the site.  The Instagram profile <a href="https://www.instagram.com/tindernightmares/">tindernightmares</a> has some great examples of the types of messages that could result in a permanent ban.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>4. How do I find new vegan friends using the site?</h3></div>
    <div class="answer">
      To <span class="keyword">make vegan friends</span> using this site, search for users in your area and send them a <span class="bold">Homie Request</span>.  Once they accept your request, start conversation by sending them a message from <span class="bold">My Homies</span> or <span class="bold">Messages</span>.  After sending a number of messages to each other, you can connect on other platforms and plan to hang out in person.  Please practice common sense when you are meeting a new person.  While I hope that everyone on this site is truly an ethical vegan and would never harm another person, there's no way to be 100% sure.  I would highly advise that when meeting someone for the first time in person, do so in a public place.  Tell a friend or family member who you are meeting ahead of time.  If you are under the age of 18 and going to meet someone, bring a parent or guardian with you to be safe.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>5. Is there a mobile app?</h3></div>
    <div class="answer">
      Currently there isn't a mobile app for the site, but it should work without issue in the browser of your mobile device. If for some reason you are having issues using the site on mobile, please contact me at <a href="mailto:geoff@veganhomies.com">geoff@veganhomies.com</a> so I can fix the issue.  I would like to eventually launch iOS and Android versions of my <h2 class="keyword">vegan friend app</h2>, <span class="site-name">VeganHomies.com</span>.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>6. Someone is bothering me on the site. How do I get them to stop?</h3></div>
    <div class="answer">
      While I'm sorry to hear that someone is bothering you, it is easy to block them from contacting you.  If the person is currently one of your <span class="bold">Homies</span>, you can remove them on the <span class="bold">My Homies</span> page by using the <span class="bold">Remove Homie</span> button.  You will be asked if you want to also block them after removing them as a <span class="bold">Homie</span>.  If someone has sent you a <span class="bold">Homie Request</span> and you want to block them from trying to contact you again, you can hit the <span class="bold">Block User</span> button on the <span class="bold">My Homies</span> page under the request.  Once you have blocked someone, you will no longer see them when you search and they will no longer see you.  You will not able to send messages or <span class="bold">Homie Requests</span> to each other.  The site administrators will periodically check out who has been blocked to see if a full site ban is necessary.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>7. Are there going to be more features added to the site?</h3></div>
    <div class="answer">
      Yes, I am planning on to add new features to the site on a regular basis when I have time.  One of the features I plan to add soon is more advanced search functionality.  If you have suggestions for features you would like to see added to the site you contact me via <a href="mailto:geoff@veganhomies.com">email</a>.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>8. How do I contact the owner of <span class="site-name">VeganHomies.com</span>?</h3></div>
    <div class="answer">
      If you would like to contact me because you are experiencing issues with the site, have new feature suggestions or feedback, are with the media or just want to tell me how much you like the site, you can send me an email at <a href="mailto:geoff@veganhomies.com">geoff@veganhomies.com</a>
    </div>
  </div>
</mat-card>
