<mat-card>
  <mat-card-title>Frequently Asked Questions</mat-card-title>
  <div class="q-and-a">
    <div class="question"><h3>1. What is <span class="site-name">VeganHomies.com</span>?</h3></div>
    <div class="answer">
      <span class="site-name">VeganHomies.com</span> is a free web application designed to help vegans <h2 class="keyword">find vegan friends</h2> in real life. It's easy to get started. Just sign up, log in, fill out your profile and search for other users in your area.  After performing a location based search, you can send a Homie Request to any user who you'd like to connecting with.  If the other user accepts, they become one of your Vegan Homies. You can then exchange messages on the site with each other and start to form a real friendship. It's just that simple to <h2 class="keyword">make vegan friends</h2>.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>2. Who is this site for?</h3></div>
    <div class="answer">
      This site is for people who are currently practicing veganism as defined by <a href="https://www.vegansociety.com/go-vegan/definition-veganism">The Vegan Society</a> as <span class="veganism-definition">"Veganism is a way of living which seeks to exclude, as far as is possible and practicable, all forms of exploitation of, and cruelty to, animals for food, clothing or any other purpose."</span>  It is not for those who eat plant-based diets soley for health purposes, those who are "vegan-ish" or those who are aspiring to be vegan.  If you are not yet vegan, but trying to make the transition and need help, please feel free to contact me at <a href="mailto:geoff@veganhomies.com">geoff@veganhomies.com</a>. I'll be happy to provide you with any assistance possible.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>3. Is it a vegan dating site?</h3></div>
    <div class="answer">
      While <span class=site-name>VeganHomies.com</span> is not specifically a <h2 class="keyword">vegan dating site</h2>, it is certainly possible to meet that special someone on it.  If you are <span class="italic">single and ready to mingle</span> with other <h2 class="keyword">local vegans</h2>, mention it in the <span class="bold">About Me</span> and <span class="bold">Looking To Meet</span> sections of your profile.  If you are looking for love (or some lovin') on this site, please don't be creepy about it.  If you send unwanted and gross messages to other users, you will get banned from the site.  The Instagram profile <a href="https://www.instagram.com/tindernightmares/">tindernightmares</a> has some great examples of the types of messages that could result in a permanent ban.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>4. How do I find new vegan friends using the site?</h3></div>
    <div class="answer">
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>5. Is there a mobile app?</h3></div>
    <div class="answer">
      Currently there isn't a mobile app for the site, but it should work without issue in the browser of your mobile device. If for some reason you are having issues using the site on mobile, please contact me at <a href="mailto:geoff@veganhomies.com">geoff@veganhomies.com</a> so I can fix the issue.  I would like to eventually launch iOS and Android versions of my <h2 class="keyword">vegan friend app</h2>, <span class="site-name">VeganHomies.com</span>.
    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>6. Someone is bothering me on the site. How do I get them to stop?</h3></div>
    </div>
    <div class="answer">
  </div>
  <div class="q-and-a">
    <div class="question"><h3>7. Are there going to be more features added to the site?</h3></div>
    <div class="answer">

    </div>
  </div>
  <div class="q-and-a">
    <div class="question"><h3>8. How do I contact the owner of <span class="site-name">VeganHomies.com</span>?</h3></div>
    <div class="answer">
    </div>
  </div>
</mat-card>
