<button *ngIf="!loggedIn" (click)="openModal('admin-login-dialog');">Login</button>
<div *ngIf="loggedIn" class='userLoggedIn'>Admin: <span class="loggedInUser">{{loggedInUser}}</span><button (click)="logout()">Logout</button></div>

<app-modal-dialog id="admin-login-dialog">
  <h1>Admin Login</h1>
  Username: <input [(ngModel)]="username" type="text" ><br>
  Password: <input [(ngModel)]="password" type="password"><br>
  <button (click)="submitLoginForm('admin-login-dialog');">Login</button>
</app-modal-dialog>

<app-modal-dialog id="admin-login-loading-dialog">
  <img src='../../../assets/images/loading.gif'>
</app-modal-dialog>
