<br>
<mat-card>
  <mat-card-title>{{profile.displayName ? profile.displayName : profile.username}}</mat-card-title>
  <div class="profile">
    <div class="pic-and-name">
      <img class="profile-image" [src]="profileImage">
      <br>
      <span class="username">{{profile.username}}</span>
      <br>
      {{profile.distance.toFixed(3)}}&nbsp;{{profile.distanceUnit}}
      <!-- Actions go here? -->
    </div>
    <div class="about-and-looking">
      <h3>About Me</h3>
      <p [innerHtml]="aboutMe"></p>
      <h3>Looking To Meet</h3>
      <p [innerHtml]="lookingToMeet"></p>
    </div>
  </div>
</mat-card>
