<span *ngIf="loggedIn">
  <!--<mat-icon>account_circle</mat-icon>-->
  {{loggedInUser}}
  <!-- <button mat-icon-button [matMenuTriggerFor]="usermenu"><mat-icon>more_vert</mat-icon></button>-->
  <button mat-icon-button [routerLink]="['search']"><mat-icon>search</mat-icon></button>
  <button mat-icon-button><mat-icon>people</mat-icon></button>
  <button mat-icon-button><mat-icon>message</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="usermenu"><mat-icon>account_circle</mat-icon></button>


</span>
<span *ngIf="!loggedIn">
  <button mat-button (click)="showLoginDialog()">Login</button>
  <button mat-button (click)="showSignupDialog()">Sign Up</button>
</span>

<mat-menu #usermenu="matMenu">
  <button mat-menu-item [routerLink]="['user/edit-profile']">Edit Profile</button>
  <button mat-menu-item disabled>Preferences</button>
  <button mat-menu-item (click)="showChangePasswordDialog()">Change Password</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
