.profile{
  display: table-row;
}

.username{
  font-weight: bold;
}

.profile-image{
  width: 150px;
  height: 150px;
}

.pic-and-name{
  display: table-cell;
  max-width: 200px;
  padding: 5px;
}

.request-display{
  display: table-cell;
  vertical-align: top;
  padding: 5px;
  width: 100%;
}

.location{
 font-size: 80%;
}

.full-width{
  width: 100%;
}

.pending-request{
  width: 100%;
}

.waiting-request{
  width: 100%;
}

.small-br{
   height:1px;
   visibility:hidden;
   margin-bottom:-8px;
}
