<br>
<mat-card *ngIf="profile">
  <mat-card-title><a (click)="showProfileDialog()">{{profile.displayName ? profile.displayName : profile.username}}</a></mat-card-title>
  <div class="homie-request">
    <div class="pic-and-name">
      <a (click)="showProfileDialog()"><img class="profile-image" [src]="profileImage"></a>
      <br>
      <a (click)="showProfileDialog()"><span class="username">{{profile.username}}</span></a>
      <br>
      <span class="location">{{profile.location.city}}, {{profile.location.stateProvince}}, {{profile.location.country}}</span>
      <br>
    </div>
    <div class="request-display">
      <div *ngIf="requestType=='pending'" class="pending-request">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="6" cdkAutosizeMaxRows="6" readonly>{{homieRequest.message}}</textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="acceptHomieRequest()"><mat-icon>thumb_up</mat-icon> Accept Request</button>&nbsp;
        <button mat-raised-button color="primary" (click)="declineHomieRequest()"><mat-icon>thumb_down</mat-icon> Decline Request</button>&nbsp;
        <button mat-raised-button color="warn" (click)="blockUser()"><mat-icon>block</mat-icon> Block User</button>
      </div>
      <div *ngIf="requestType=='waiting'" class="waiting-request">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="" cdkTextareaAutosize cdkAutosizeMinRows="6" cdkAutosizeMaxnRows="6" readonly>{{homieRequest.message}}</textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" disabled><mat-icon>hourglass_empty</mat-icon> Waiting for {{homieRequest.acceptUser}}...</button>&nbsp;
        <button mat-raised-button color="warn" (click)="deleteRequest()"><mat-icon>delete</mat-icon> Delete Request</button>
      </div>
    </div>
  </div>
</mat-card>
