.site-name{
  font-family: ADrippingMarker;
  font-size: 200%;
  color: #c53d00;
}

.home-footer{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footer-text{
  font-size: 60%;
  align-self: center;
}

.welcome-div{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.welcome-span{
  align-self: center;
}
