<p>Please use this link to <a href="<%=appUrl%>/user/password-reset/<%=token%>">reset</a> your password.</p>
<p>This link is only valid for 15 mins. After that, you will need to request another reset if you still need to change it.</p>
<p>If you did not request a password reset or remembered you old password, you can ignore this email and continue logging in with your old password.</p>
