<div class="picture-upload-dialog">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>Upload Profile Picture
  </mat-toolbar>
  <mat-form-field appearance="outline">
    <mat-label>Upload File</mat-label>
    <input class='hidden' type='file' #hidden_file_input accept="image/*" [(ngModel)]="imageFilename" (change)="onFileChange($event)" />
    <input matInput readonly [(ngModel)]="imageFilename" placeholder="" (click)="hidden_file_input.click()">
  </mat-form-field>
  <div class="button-area">
    <button type="button" mat-button (click)="hidden_file_input.click()"><mat-icon>attach_file</mat-icon>Choose File</button>
    <button type="button" mat-button (click)="clearSelectedFile()" [disabled]="!imageFile"><mat-icon>clear</mat-icon>Clear</button>
  </div>
  <br>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="uploadImage()" [disabled]="!imageFile"><mat-icon>cloud_upload</mat-icon>&nbsp;Upload Image</button>
  </div>
</div>
