.profile-view-dialog{
}

mat-toolbar{
  position: fixed;
  top: 0;
  left: 0;
}

.display-name{
  font-size: 110%;
  font-weight: bold;
}

.profile{
  display: flex;
  flex-direction: column;
}

.username{
  font-weight: bold;
}

.profile-image{
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.location{
 font-size: 80%;
}

mat-form-field{
  width: 100%;
  margin-bottom: -1.25em;
}

.button-area{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

/deep/ .mat-dialog-container {
  padding: 5px !important;
}

.graphiti-label-small{
  font-family: ADrippingMarker;
  font-size: 200%;
  font-weight: bold;
  color: FireBrick;
}

.graphiti-label-medium{
  font-family: ADrippingMarker;
  font-size: 250%;
  font-weight: bold;
  color: FireBrick;
}

.graphiti-label-large{
  font-family: ADrippingMarker;
  font-size: 300%;
  font-weight: bold;
  color: FireBrick;
}

/deep/ button {
  margin: 5px !important;
}
