<div class="reset-dialog">
  <h2 mat-dialog-title>Request Password Reset</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-card *ngIf="message">
    <div class='message'>{{message}}</div>
  </mat-card>
  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" [disabled]="email.invalid" (click)="submitResetForm()">Request Reset</button>
  </mat-dialog-actions>
</div>
