<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<div *ngIf="loggedIn" class="edit-profile">
  <h3>Edit Profile</h3>
  <mat-form-field appearance="outline" class="form-field-with-hint">
    <mat-label>Display Name</mat-label>
    <input matInput placeholder="Display Name" [formControl]="displayName">
    <mat-hint>Enter a name to display instead of your username (optional)</mat-hint>
    <mat-error *ngIf="displayName.invalid">{{getDisplayNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field-with-hint" [matTooltip]="locationTooltipText">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Enter your location..." [formControl]="location" required>
    <mat-hint>For privacy, it is recommended that you do not enter your exact home address.</mat-hint>
  </mat-form-field>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="findLocation()"><mat-icon>location_on</mat-icon> Find Me</button>
  </div>
  <br>
  <div *ngIf="locationError" class='message'>{{locationError}}</div>
  <mat-card *ngIf="showMap">
    <div class="map-area">
      <mat-card-title>Location Found: {{city}}, {{stateProvince}}, {{country}}</mat-card-title>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <p>This will be the location used for location based searches. If it does not look correct try entering something else and hitting 'Find Me' again.  Your location will be displayed to other users as: {{city}}, {{stateProvince}}, {{country}}.</p>
    </div>
  </mat-card>
  <mat-card *ngIf="profileImage">
    <div class="image-area">
      <mat-card-title>Profile Picture</mat-card-title>
      <img [src]="profileImage" class="profile-pic">
      <br>
      <div class = "button-area">
        <button mat-raised-button color="primary" (click)="showPictureUploadDialog()"><mat-icon>image</mat-icon> Upload Image</button>
      </div>
    </div>
  </mat-card>
  <mat-form-field appearance="outline" class="form-field-without-hint">
    <mat-label>About Me</mat-label>
    <textarea matInput placeholder="Please tell us a little about yourself..." [formControl]="aboutMe" cdkTextareaAutosize cdkAutosizeMinRows="10" required></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-field-without-hint">
    <mat-label>Who Am I Looking to Meet</mat-label>
    <textarea matInput placeholder="Please tell us a little about the types of people you are looking to connect with..." [formControl]="lookingToMeet" cdkTextareaAutosize cdkAutosizeMinRows="10" required></textarea>
  </mat-form-field>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="saveProfile()"><mat-icon>save</mat-icon> Save Profile</button>
  </div>
</div>
