.ban-user{
  display: flex;
  flex-direction: column;
}

.target-user-and-ban-type{
  display: flex;
  flex-direction: row;
}

.temp-ban-period{
    display: flex;
    flex-direction: row;
}

.message{
  color: red;
  width: 100%;
}

.small-field{
  width: 200px;
  margin-right: 10px;
}

mat-form-field{
}
