<div class="agreement-dialog">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>User Agreement
  </mat-toolbar>
  <mat-form-field appearance="outline">
    <textarea id="agreementTextarea" matInput readonly cdkTextareaAutosize cdkAutosizeMaxRows="18">{{userAgreement}}</textarea>
  </mat-form-field>
  <div class="checkbox-area">
    <mat-checkbox [(ngModel)]="userAgrees" labelPosition="before">I Accept</mat-checkbox>
  </div>
  <div class="button-area">
    <button mat-raised-button color="primary" (click)="submitAgreement()" [disabled]="!userAgrees">Submit Agreement</button>
  </div>
</div>
