<div class="agreement-dialog">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>&nbsp;User Agreement
  </mat-toolbar>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <textarea id="agreementTextarea" matInput readonly cdkTextareaAutosize cdkAutosizeMaxRows="16">{{userAgreement}}</textarea>
    </mat-form-field>
    <br>
  </mat-dialog-content>
  <mat-checkbox [(ngModel)]="userAgrees" labelPosition="before">I Accept</mat-checkbox>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submitAgreement()" [disabled]="!userAgrees">Submit Agreement</button>
  </mat-dialog-actions>
</div>
