<mat-card>
  <mat-card-title>Reset Account Password</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Email Address</mat-label>
      <input matInput placeholder="Please confirm your email address" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput placeholder="New Password" [formControl]="password" type="password" required>
      <mat-hint>{{passwordRequirements}}</mat-hint>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input matInput placeholder="Confirm New Password" [formControl]="passwordConfirm" type="password" required>
      <mat-error *ngIf="passwordConfirm.invalid">{{getPasswordConfirmErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card *ngIf="message">
    <div class='message'>{{message}}</div>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="resetPassword()">Reset Password</button>
  </mat-card-actions>
</mat-card>
