.top-middle-spacer{
  flex: 1 1 auto;
}

.site-name{
  font-family: ADrippingMarker;
  font-size: 200%;
  color: #c53d00;
}

.home-footer{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footer-text{
  font-size: 60%;
  align-self: center;
}

mat-card{
  margin: 5px;
}
