<div class='user-preferences'>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>User Preferences
  </mat-toolbar>
  <mat-card>
    <mat-card-title>Email Preferences</mat-card-title>
    <div class="checkbox-area">
      <mat-checkbox [(ngModel)]="sendAnnouncementsEmail">Send me news and announcements about VeganHomies.com</mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="sendNewMessageEmail">Notify me for new messages</mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="sendHomieRequestReceiveEmail">Notify me when I receive a Homie Request</mat-checkbox>
      <br>
      <mat-checkbox [(ngModel)]="sendHomieRequestAcceptEmail">Notify me when another user accepts my Homie Request</mat-checkbox>
    </div>
  </mat-card>
  <br>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
      <button mat-raised-button color="primary" (click)="saveUserPreferences()"><mat-icon>save</mat-icon>&nbsp;Save Preferences</button>
  </div>
</div>
