<mat-card>
  <mat-card-title><a (click)="showProfileDialog()">{{profile.displayName ? profile.displayName : profile.username}}</a></mat-card-title>
  <div class="profile">
    <a (click)="showProfileDialog()"><img class="profile-image" [src]="profileImage"></a>
    <a (click)="showProfileDialog()"><span class="username">{{profile.username}}</span></a>
    {{profile.distance.toFixed(2)}}&nbsp;{{profile.distanceUnit}}
    <span class="location">{{profile.location.city}}, {{profile.location.stateProvince}}, {{profile.location.country}}</span>
    <div *ngIf="homieStatus=='homies'" class="button-area">
      <span class="graphiti-label-large">My Homie</span>
      <button mat-raised-button color="primary" (click)="sendHomieMessage()"><mat-icon>message</mat-icon> Send Message</button>
    </div>
    <div *ngIf="homieStatus=='waiting'" class="button-area">
      <span class="graphiti-label-small">Homie Requested</span>
      <button mat-raised-button color="primary" disabled><mat-icon>hourglass_empty</mat-icon> Waiting...</button>
    </div>
    <div *ngIf="homieStatus=='pending'" class="button-area">
      <span class="graphiti-label-medium">Be My Homie?</span>
      <button mat-raised-button color="primary" (click)="acceptHomieRequest()"><mat-icon>thumb_up</mat-icon> Yes</button>
      <button mat-raised-button color="primary" (click)="declineHomieRequest()"><mat-icon>thumb_down</mat-icon> No</button>
    </div>
    <div *ngIf="homieStatus=='n/a'" class="button-area">
      <span class="graphiti-label-medium">Be My Homie?</span>
      <button mat-raised-button color="primary" (click)="showHomieRequestDialog()"><mat-icon>person_add</mat-icon> Send Request</button>
    </div>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>About Me</mat-label>
      <textarea matInput cdkTextareaAutosize readonly>{{profile.aboutMe}}</textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Looking To Meet</mat-label>
      <textarea matInput cdkTextareaAutosize readonly>{{profile.lookingToMeet}}</textarea>
    </mat-form-field>
  </div>
</mat-card>
