.profile{
  display: flex;
  flex-direction: column;
}

.username{
  font-weight: bold;
}

.profile-image{
  width: 100%;
  height: auto;
}

.location{
 font-size: 80%;
}

.mat-form-field{
  width: 100%;
  margin-bottom: -1.25em
}

.mat-card{
  margin-top: 5px;
}

.mat-card-title{
  font-size: 110%;
  font-weight: bold;
}

.button-area{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.graphiti-label-small{
  font-family: ADrippingMarker;
  font-size: 200%;
  font-weight: bold;
  color: #c53d00;
}

.graphiti-label-medium{
  font-family: ADrippingMarker;
  font-size: 250%;
  font-weight: bold;
  color: #c53d00;
}

.graphiti-label-large{
  font-family: ADrippingMarker;
  font-size: 300%;
  font-weight: bold;
  color: #c53d00;
}

/deep/ button {
  margin: 5px !important;
}
