<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<mat-card *ngIf="loggedIn && hasActiveProfile == false"><h3>You must have an active profile to be able to use this feature.  Please create or edit your profile.</h3></mat-card>
<mat-card *ngIf="loggedIn && hasActiveProfile">
  <mat-card *ngIf="homies && homies.length==0">
    <h3>You have no homies to message. Use the <a [routerLink]="['../search']" >Search</a> feature to find some people to connect with.</h3>
  </mat-card>
  <mat-card *ngIf="homies && homies.length>0" style="margin-bottom:10px">
    <mat-card-title>Create New Conversation</mat-card-title>
    <div class="new-conversation">
      <mat-form-field appearance="outline" style="margin-bottom: -1.25em" class="homie-select">
        <mat-label>Homie to Message</mat-label>
        <mat-select [(value)]="homieToMessage">
          <mat-option *ngFor="let homie of homies" [value]="homie">{{formatHomieName(homie)}}</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button color="primary" style="height: 50px;margin: 10px;" (click)="sendHomieMessage()" [disabled]="!homieToMessage"><mat-icon>add_circle</mat-icon>&nbsp;Open New Conversation</button>
    </div>
  </mat-card>
  <app-conversation-view *ngFor="let msg of latestMessages" [latestMessage]="msg" [profile]="getProfileForMessage(msg)"></app-conversation-view>
</mat-card>
