<span><span style="font-weight:bold"><%=senderName%></span> has accepted your Homie Request.<span>
<br>
<span>To send them a message, please go to <a href="<%=appUrl%>/home/messages">Vegan Homies</a></span>
