<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<mat-card *ngIf="loggedIn && hasActiveProfile == false"><h3>You must have an active profile to be able to use this feature.  Please create or edit your profile.</h3></mat-card>
<mat-card *ngIf="loggedIn && hasActiveProfile">
  <mat-card *ngIf="pendingHomieRequests && pendingHomieRequests.length==0 && waitingHomieRequests && waitingHomieRequests.length == 0 && homies && homies.length==0">
    <h3>You have no homies or outstanding homie requests. Use the Search feature to find some people to connect with.</h3>
  </mat-card>
  <mat-expansion-panel *ngIf="pendingHomieRequests && pendingHomieRequests.length>0">
    <mat-expansion-panel-header>
      <mat-panel-title>Pending Homie Requests</mat-panel-title>
      <mat-panel-description>Users Who Want to Be Your Homies</mat-panel-description>
    </mat-expansion-panel-header>
    pendingHomieRequests.length = {{pendingHomieRequests.length}}
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="waitingHomieRequests && waitingHomieRequests.length>0">
    <mat-expansion-panel-header>
      <mat-panel-title>Waiting Homie Requests</mat-panel-title>
      <mat-panel-description>Users You Have Asked to Be Your Homie</mat-panel-description>
    </mat-expansion-panel-header>
    waitingHomieRequests.length = {{waitingHomieRequests.length}}
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="homies && homies.length>0">
    <mat-expansion-panel-header>
      <mat-panel-title>Homies</mat-panel-title>
      <mat-panel-description>Your Homies</mat-panel-description>
    </mat-expansion-panel-header>
    homies.length = {{homies.length}}
  </mat-expansion-panel>
</mat-card>
