<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<mat-card *ngIf="loggedIn">
  <mat-card-title>Edit Profile</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline" class="smallwidth">
      <mat-label>Display Name</mat-label>
      <input matInput placeholder="Display Name" [formControl]="displayName">
      <mat-hint>Enter a name to display instead of your username (optional)</mat-hint>
    </mat-form-field>
    <br>
    <!-- location here -->
    <!-- profile picture here -->
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>About Me</mat-label>
      <textarea matInput placeholder="Please tell us a little about yourself..." [formControl]="aboutMe" cdkTextareaAutosize cdkAutosizeMinRows="10" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Who Am I Looking to Meet</mat-label>
      <textarea matInput placeholder="Please tell us a little about the types of people you are looking to connect with..." [formControl]="lookingToMeet" cdkTextareaAutosize cdkAutosizeMinRows="10" required></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card *ngIf="message">
    <div class='message'>{{message}}</div>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="saveProfile()">Save Profile</button>
  </mat-card-actions>
</mat-card>
