.message{
  color: red;
  width: 100%;
}

.full-width{
  width: 100%;
}

.small-width{
  width: 50%;
}

.medium-width{
  width: 75%;
}

agm-map {
  height: 350px;
}

.profile-pic{
  height: 250px;
  width: 250px;
}
