<div class="blog-pagination">
  <!-- mat-icon is not working on this page -->
  <button mat-button [disabled]="pageInfo.currentPage==1" (click)="navigateToPage(1)"><!--<mat-icon>fast_rewind</mat-icon>--><<</button>
  <button mat-button [disabled]="pageInfo.currentPage==1" (click)="navigateToPage(pageInfo.currentPage-1)"><!--<mat-icon>skip_previous</mat-icon>--><</button>
  <button mat-button *ngFor="let pageNumber of createPageNumbers()" [disabled]="pageInfo.currentPage==pageNumber" (click)="navigateToPage(pageNumber)">{{pageNumber}}</button>
  <button mat-button [disabled]="pageInfo.currentPage==pageInfo.pageCount" (click)="navigateToPage(pageInfo.currentPage+1)"><!--<mat-icon>skip_next</mat-icon>-->></button>
  <button mat-button [disabled]="pageInfo.currentPage==pageInfo.pageCount" (click)="navigateToPage(pageInfo.pageCount)"><!--<mat-icon>fast_forward</mat-icon>-->>></button>
</div>
