.new-conversation{
  display: flex;
  flex-direction: column;
}

mat-form-field{
  margin-bottom: -1.25em;
  width: 100%;
}

mat-card{
  margin-bottom: 10px;
}

mat-card-title{
  font-size: 110%;
  font-weight: bold;
}
