<mat-card>
  <mat-card-title>About</mat-card-title>
  <p><span class="site-name">VeganHomies.com</span> is a website designed to help vegans find real life vegan friends. It's easy to get started. Just sign up, log in, fill out your profile and search for other users in your area.  After performing a location based search, you can send a Homie Request to any user who you'd like to connecting with.  If the other user accepts, they become one of your Vegan Homies. You can then exchange messages on the site with each other and start to form a real friendship. It's that simple.</p>
</mat-card>
