<mat-card>
  <mat-card-title>About</mat-card-title>
  <span class="site-name">VeganHomies.com</span> is a website designed to help vegans <h2 class="keyword">find vegan friends</h2> in real life. It's easy to get started. Just sign up, log in, fill out your profile and search for other users in your area.  After performing a location based search, you can send a Homie Request to any user who you'd like to connect with.  If the other user accepts, they become one of your Vegan Homies. You can then exchange messages on the site with each other and start to form a real friendship. It's just that simple to <h2 class="keyword">make vegan friends</h2>.
</mat-card>
