<div class="reset-dialog">
  <mat-toolbar color="primary" style="font-size: 90%">
    <button mat-icon-button (click)="close()"><mat-icon>arrow_back_ios</mat-icon></button>Request Password Reset
  </mat-toolbar>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <div *ngIf="message" class='message'>{{message}}</div>
  <div class="button-area">
    <button class="mat-raised-button mat-primary" [disabled]="email.invalid" (click)="submitResetForm()">Request Reset</button>
  </div>
</div>
