<div class="mat-app-background">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="mainmenu"><mat-icon>menu</mat-icon></button>
    Vegan Homies
    <span class='top-middle-spacer'></span>
    <app-home-user-area></app-home-user-area>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<mat-menu #mainmenu="matMenu">
  <button mat-menu-item *ngIf="loggedIn" [routerLink]="['search']" [disabled]="!hasActiveProfile">Homie Search</button>
  <button mat-menu-item *ngIf="loggedIn" [routerLink]="['homies']" [disabled]="!hasActiveProfile">My Homies</button>
  <button mat-menu-item *ngIf="loggedIn" [routerLink]="['messages']" [disabled]="!hasActiveProfile">Messages</button>
  <button mat-menu-item [routerLink]="['about']">About</button>
  <button mat-menu-item [routerLink]="['faq']">FAQ</button>
  <button mat-menu-item (click)="openBlog()">Blog</button>
</mat-menu>
