<app-unavailable-feature *ngIf="!loggedIn"></app-unavailable-feature>
<mat-card *ngIf="loggedIn && hasActiveProfile == false"><h3>You must have an active profile to be able to use this feature.  Please create or edit your profile.</h3></mat-card>
<mat-card *ngIf="loggedIn && hasActiveProfile">
  <mat-card *ngIf="pendingHomieRequests && pendingHomieRequests.length==0 && waitingHomieRequests && waitingHomieRequests.length == 0 && homies && homies.length==0">
    <h3>You have no homies or outstanding homie requests. Use the <a [routerLink]="['../search']" >Search</a> feature to find some people to connect with.</h3>
  </mat-card>
  <mat-expansion-panel *ngIf="pendingHomieRequests && pendingHomieRequests.length>0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Pending Homie Requests ({{pendingHomieRequests.length}}) </mat-panel-title>
    </mat-expansion-panel-header>
    <app-homie-request *ngFor="let request of pendingHomieRequests" [homieRequest]="request" requestType="pending"></app-homie-request>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="waitingHomieRequests && waitingHomieRequests.length>0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Waiting Homie Requests ({{waitingHomieRequests.length}})</mat-panel-title>
    </mat-expansion-panel-header>
    <app-homie-request *ngFor="let request of waitingHomieRequests" [homieRequest]="request" requestType="waiting"></app-homie-request>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="homies && homies.length>0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Your Homies ({{homies.length}})</mat-panel-title>
    </mat-expansion-panel-header>
    <app-homie-view *ngFor="let homie of homies" [homie]="homie"></app-homie-view>
  </mat-expansion-panel>
</mat-card>
