<div class="coming-soon">
  <img class="coming-soon-img" src="../../assets/images/Vegan Homies Coming Soon.jpg">
  <div class="description">
    <p>Vegan Homies is an application being built that will help vegans find and meet others in their area.</p>
    <p>For more information and updates about the project, check out the <a routerLink="/blog">blog</a> and follow <a href="https://www.instagram.com/vegan_homies/">vegan_homies</a> on Instagram.</p>
    <span class="launching">Beta launching on </span><span class="launch-date">9.18.2019</span>
  </div>
</div>
